@import "../../styles/variables/variables.scss";

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardWrapper {
  width: 100%;
  @media (min-width: 667px) {
    width: 633px;
  }
}
.basket {
  margin-top: 30px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $black-blue;
}

.order {
  width: 100%;
  height: 120px;
  position: relative;
  margin-bottom: 25px;
  @media (min-width: 1024px) {
    max-width: 350px;
  }
}

.totalPrice {
  width: 100%;
  height: 100%;
  padding: 21px 16px;
  display: flex;
  justify-content: flex-end;
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: $black;

  @media (min-width: 667px) {
    max-width: 348px;
  }
}

.orderBtn {
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  background: $almost-black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: $white;

  @media (min-width: 667px) {
    max-width: 348px;
  }
}

.alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
