@import "../../styles/variables/variables.scss";

.container {
  //min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cardWrapper {
  width: 633px;
}
.basket {
  margin-top: 30px;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $black-blue;
}

.order {
  position: relative;
  height: 120px;
}

.totalPrice {
  width: 348px;
  height: 100%;
  padding: 21px 16px;
  display: flex;
  justify-content: flex-end;
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;

  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: $black;
}

.orderBtn {
  position: absolute;
  bottom: 0;
  width: 348px;
  height: 65px;
  background: $almost-black;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  color: $white;
}

.alert {
  display: flex;
  justify-content: center;
}
