@import "../../styles/variables/variables.scss";

.category {
  color: $dark-gray;
  margin-top: 10px;
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $dark-gray;

  @media (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
.grid {
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;

  @media (min-width: 380px) {
    grid-template-columns: repeat(auto-fill, 350px);
  }
}
